<header>
  <h1>All Albums, All the Time</h1>
</header>
<div class="main">
  <%= link_to 'Would you like to add a new album?', new_album_path %>
  <ul class="lists">
    <% @albums.each do |a| %>
      <li>
        <%= a.title %>
      -
        <%= a.artist %>
      -
        <%= a.genre %>
      -
        <%= link_to 'Show', album_path(a) %>
      </li>
    <% end %>
  </ul>
</div>
